html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #020617;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #38bdf8;
}

.container {
  padding: 100px 60px;
  min-height: 100vh;
}

